.tagline > p {
  display: inline;
  font-size: 15px;
  font-family: "Montserrat";
}

.icon {
  margin-left: 27px;
}
.tagline > p {
  margin-left: 10px;
  color: white;
}
.topbar {
  background-color: #2b2e3b;
  height: 200px;
}
a {
  color: rgb(226, 220, 220);
}

#white:hover {
  color: white;
}
#white {
  color: rgb(203, 189, 226);
  font-size: 1.5em;
}

#margin {
  margin-top: 500 px;
  margin-bottom: 50 px;
}
