:root {
  --primary-color: #2b2e3b;
}
* {
  margin: 0;
  padding: 0;
}
/* --------------------NavBar -------------- */

nav {
  background-color: var(--primary-color);
  height: 200px;
}
nav ul {
  display: flex;
  list-style-type: None;
  position: relative;
  width: 100%;
  top: 50px;
}
nav a {
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.308);
  text-decoration: none;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  nav a {
    font-size: 10px;
  }
}
nav a:hover {
  transition: 0.4s;
  color: white;
  text-decoration: none;
}
nav li {
  margin-left: 10vw;
  margin-right: 10vw;
}

/*-----------------------------------------------*/
/* ---------------Login Stuff -------------------- */

.login h1 {
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  margin-left: 90px;
}
.login h1 > img {
  font-size: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 4px;
}
.login p {
  margin-left: 4px;
}
.login {
  width: 350px;
  height: 420px;
  background: #000;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: flex;
  display: none;
  padding-left: 20px;
}
.login > form {
  margin-top: 70px;
}
.login input {
  width: 100%;
  margin-bottom: 20px;
}
.login input[type="text"],
input[type="Password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}
.login input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: white;
  font-size: 18px;
  border-radius: 40px;
  width: 300px;
  margin-left: 8px;
}

.login input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.login a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
div > a.close {
  font-size: 30px;
  margin-left: 310px;
  position: absolute;
  transform: rotate(45deg);
  text-decoration: none;
  outline: none;
  color: black;
}
#button {
  position: absolute;
  font-size: 20px;
  margin-left: 1270px;
  margin-bottom: 90px;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: block;
}

/* --------------------------------------------------------*/

.footer {
  background-color: var(--primary-color);
  height: 200px;
}
.footer ul {
  display: flex;
  list-style-type: None;
  position: relative;
  width: 100%;
  top: 50px;
}
.footer a {
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.308);
  text-decoration: none;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .footer a {
    font-size: 10px;
  }
}
.footer a:hover {
  transition: 0.4s;
  color: white;
  text-decoration: none;
}
.footer li {
  margin-left: 10vw;
  margin-right: 10vw;
}

.news > div {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
}
